# Categorización de Variables

In [900]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import funpymodeling.exploratory as fp

In [901]:
dataset = pd.read_csv('listings - Florencia_Clean.csv')
dataset.head()

,id,host_id,source,name,description,neighborhood_overview,host_name,host_since,host_location,host_about,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,31840,380378,previous scrape,A Residenza Martin Classic room,"Nice, private and quiet double room, classic s...",S/D,Officina 360,2011-02-07,"Florence, Italy",360 Rentals has been offering fully furnished ...,...,5.0,0.0,4.66,4.73,4.87,4.86,4.91,4.91,4.70,0.77
1,32120,99235,city scrape,Welcome at Corte Verde in Florence,Apartment at a 30 minute walk from Ponte Vecch...,S/D,Lucia,2010-03-26,"Florence, Italy",I was born and raised in the beautiful Florenc...,...,1.0,0.0,4.88,4.88,4.88,4.84,4.96,4.63,4.63,0.15
2,32180,13925330,city scrape,Charming Gem - Oltrarno City centre,.,S/D,Cesare,2014-04-05,"Florence, Italy",.,...,4.0,0.0,4.74,4.79,4.85,4.79,4.70,4.82,4.85,0.21
3,39115,167739,city scrape,Central Double Shared Bathroom,Double (or Twin) Room Shared Bathroom: comfort...,"San Lorenzo Church, the market and Cappelle Me...",Lorenzo,2010-07-15,"Florence, Italy","Casa Billi, now renewed, is centrally located ...",...,8.0,0.0,4.53,4.68,4.60,4.81,4.74,4.90,4.55,0.46
4,39165,167739,previous scrape,Florence Central Double Private Bathroom,"Double room private bathroom: comfortable, lar...","San Lorenzo Church, the market and Cappelle Me...",Lorenzo,2010-07-15,"Florence, Italy","Casa Billi, now renewed, is centrally located ...",...,2.0,0.0,4.32,4.21,4.58,4.68,4.63,4.95,4.32,0.13

In [902]:
# calculamos el numero total de la población "n" del dataset
dataset.info()
n = 12722

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12722 entries, 0 to 12721
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           12722 non-null  int64
 1   host_id                      12722 non-null  int64
 2   source                       12722 non-null  object
 3   name                         12722 non-null  object
 4   description                  12722 non-null  object
 5   neighborhood_overview        12722 non-null  object
 6   host_name                    12722 non-null  object
 7   host_since                   12722 non-null  object
 8   host_location                12722 non-null  object
 9   host_about                   12722 non-null  object
 10  host_response_time           12722 non-null  object
 11  host_response_rate           12722 non-null  object
 12  host_acceptance_rate         12722 non-null  object
 13  host_is_superhost            12722 non-null  object
 14  host_verifications           12722 non-null  object
 15  host_identity_verified       12722 non-null  object
 16  neighbourhood_cleansed       12722 non-null  object
 17  property_type                12722 non-null  object
 18  room_type                    12722 non-null  object
 19  bathrooms_text               12722 non-null  object
 20  amenities                    12722 non-null  object
 21  has_availability             12722 non-null  object
 22  first_review                 12722 non-null  object
 23  last_review                  12722 non-null  object
 24  instant_bookable             12722 non-null  object
 25  host_listings_count          12722 non-null  float64
 26  host_total_listings_count    12722 non-null  float64
 27  latitude                     12722 non-null  float64
 28  longitude                    12722 non-null  float64
 29  accommodates                 12722 non-null  float64
 30  bedrooms                     12722 non-null  float64
 31  beds                         12722 non-null  float64
 32  price                        12722 non-null  float64
 33  minimum_nights               12722 non-null  float64
 34  maximum_nights               12722 non-null  float64
 35  availability_30              12722 non-null  float64
 36  availability_60              12722 non-null  int64
 37  availability_90              12722 non-null  int64
 38  availability_365             12722 non-null  int64
 39  number_of_reviews            12722 non-null  float64
 40  number_of_reviews_ltm        12722 non-null  float64
 41  number_of_reviews_l30d       12722 non-null  float64
 42  review_scores_rating         12722 non-null  float64
 43  review_scores_accuracy       12722 non-null  float64
 44  review_scores_cleanliness    12722 non-null  float64
 45  review_scores_checkin        12722 non-null  float64
 46  review_scores_communication  12722 non-null  float64
 47  review_scores_location       12722 non-null  float64
 48  review_scores_value          12722 non-null  float64
 49  reviews_per_month            12722 non-null  float64
dtypes: float64(22), int64(5), object(23)
memory usage: 4.9+ MB

In [903]:
# realizamos un analisis univariado de las variables categoricas
fp.freq_tbl(dataset)

            source  frequency  percentage  cumulative_perc
0      city scrape      11884     0.93413          0.93413
1  previous scrape        838     0.06587          1.00000

----------------------------------------------------------------

                                                    name  frequency  \
0                               In the heart of Florence         14
1                               Camera con bagno privato          7
2                                Santo Spirito Apartment          6
3                            Ampia Camera Centro Storico          5
4      Vivaldi Suite～Intimate & Luxurious Florence Ce...          5
...                                                  ...        ...
12488  HOLA APARTMENT (with 3 bedrooms) close citycenter          1
12489       Grazioso appartamento in centro con terrazza          1
12490              Room 45. Rent Room in Florence. Room1          1
12491  Private ROOM HAPPY just 8min by tram to cityce...          1
12492                                 Casa degli Aliotti          1

       percentage  cumulative_perc
0        0.001100         0.001100
1        0.000550         0.001651
2        0.000472         0.002122
3        0.000393         0.002515
4        0.000393         0.002908
...           ...              ...
12488    0.000079         0.999686
12489    0.000079         0.999764
12490    0.000079         0.999843
12491    0.000079         0.999921
12492    0.000079         1.000000

[12493 rows x 4 columns]

----------------------------------------------------------------

                                             description  frequency  \
0                                                    S/D        365
1       Enjoy a stylish vacation in this downtown space.         22
2      Relax in this peaceful and centrally-located p...         20
3       Relax in this quiet space in a central location.         15
4      The rooms are completely renovated with care, ...         12
...                                                  ...        ...
11696  The apartment was designed by a well known '90...          1
11697  Two-bedroom apartment en-suite bathrooms renov...          1
11698  Apartment located in the heart of the historic...          1
11699  Charming and stylish, the Executive Room is ap...          1
11700  Casa degli Aliotti is an apartment on the firs...          1

       percentage  cumulative_perc
0        0.028690         0.028690
1        0.001729         0.030420
2        0.001572         0.031992
3        0.001179         0.033171
4        0.000943         0.034114
...           ...              ...
11696    0.000079         0.999686
11697    0.000079         0.999764
11698    0.000079         0.999843
11699    0.000079         0.999921
11700    0.000079         1.000000

[11701 rows x 4 columns]

----------------------------------------------------------------

                                  neighborhood_overview  frequency  \
0                                                   S/D       5307
1     We have an ideal location, in the heart of the...         11
2     The tower is set on Via Tornabuoni, one of Flo...         10
3     San Lorenzo Church, the market and Cappelle Me...         10
4     Located in Florence's historic heart at 12 via...         10
...                                                 ...        ...
6452  All major points of interest in the city are w...          1
6453  The neighborhood looks good for families and/o...          1
6454  It is in the heart of the hystorical centre of...          1
6455  This property is ideally located: a short nice...          1
6456  Borgo Pinti is a charming neighborhood in Flor...          1

      percentage  cumulative_perc
0       0.417151         0.417151
1       0.000865         0.418016
2       0.000786         0.418802
3       0.000786         0.419588
4       0.000786         0.420374
...          ...              ...
6452    0.000079         0.999686
6453    0.000079         0.999764
6454    0.000079         0.999843
6455    0.000079         0.999921
6456    0.000079         1.000000

[6457 rows x 4 columns]

----------------------------------------------------------------

                host_name  frequency  percentage  cumulative_perc
0                 Lorenzo        346    0.027197         0.027197
1                 Edoardo        307    0.024131         0.051328
2               Francesco        278    0.021852         0.073180
3                  Andrea        243    0.019101         0.092281
4              Alessandro        208    0.016350         0.108631
...                   ...        ...         ...              ...
1780     Marco E Patrizia          1    0.000079         0.999686
1781  Mariasole & Filippo          1    0.000079         0.999764
1782                Santa          1    0.000079         0.999843
1783                   행자          1    0.000079         0.999921
1784             Laurence          1    0.000079         1.000000

[1785 rows x 4 columns]

----------------------------------------------------------------

      host_since  frequency  percentage  cumulative_perc
0     2014-11-18        254    0.019965         0.019965
1     2015-01-29        158    0.012419         0.032385
2     2015-09-28        135    0.010612         0.042996
3     2016-09-21        122    0.009590         0.052586
4     2016-06-08         98    0.007703         0.060289
...          ...        ...         ...              ...
3213  2012-11-14          1    0.000079         0.999686
3214  2022-02-22          1    0.000079         0.999764
3215  2013-09-25          1    0.000079         0.999843
3216  2022-02-18          1    0.000079         0.999921
3217  2024-09-14          1    0.000079         1.000000

[3218 rows x 4 columns]

----------------------------------------------------------------

              host_location  frequency  percentage  cumulative_perc
0           Florence, Italy       8751    0.687864         0.687864
1                     Italy       2488    0.195567         0.883430
2              Milan, Italy        227    0.017843         0.901273
3            Tuscany, Italy         93    0.007310         0.908584
4              Prato, Italy         77    0.006053         0.914636
..                      ...        ...         ...              ...
259  Baugé-en-Anjou, France          1    0.000079         0.999686
260        Vimodrone, Italy          1    0.000079         0.999764
261          Comeana, Italy          1    0.000079         0.999843
262      Guayaquil, Ecuador          1    0.000079         0.999921
263  The Hague, Netherlands          1    0.000079         1.000000

[264 rows x 4 columns]

----------------------------------------------------------------

                                             host_about  frequency  \
0                                                   S/D       5249
1     MMega Homes & Villas è un agenzia specializzat...        254
2     Our apartments are located exclusively in the ...        131
3     Welcome fellow Airbnb travellers to our apartm...        121
4     Benvenuti a Firenze! \nDal 2007 offriamo una v...         85
...                                                 ...        ...
2800  Ciao! Siamo due sorelle, THE TWINS. Facciamo l...          1
2801  Sono Vittorio e con mia moglie Gianna affittia...          1
2802  Ciao, siamo Julieta e Chiara. Il turismo e l'a...          1
2803  Sono una moglie e mamma di due bambine,lavoro ...          1
2804          più animali entrano più persone si vedono          1

      percentage  cumulative_perc
0       0.412592         0.412592
1       0.019965         0.432558
2       0.010297         0.442855
3       0.009511         0.452366
4       0.006681         0.459047
...          ...              ...
2800    0.000079         0.999686
2801    0.000079         0.999764
2802    0.000079         0.999843
2803    0.000079         0.999921
2804    0.000079         1.000000

[2805 rows x 4 columns]

----------------------------------------------------------------

   host_response_time  frequency  percentage  cumulative_perc
0      within an hour      10063    0.790992         0.790992
1        within a day       1554    0.122151         0.913143
2  within a few hours        901    0.070822         0.983965
3  a few days or more        204    0.016035         1.000000

----------------------------------------------------------------

   host_response_rate  frequency  percentage  cumulative_perc
0                100%       9010    0.708222         0.708222
1                 S/D       1134    0.089137         0.797359
2                 99%        574    0.045119         0.842478
3                 97%        414    0.032542         0.875020
4                 98%        323    0.025389         0.900409
5                 90%        190    0.014935         0.915343
6                 94%        117    0.009197         0.924540
7                 96%        117    0.009197         0.933737
8                 95%        115    0.009039         0.942776
9                  0%        104    0.008175         0.950951
10                80%         71    0.005581         0.956532
11                93%         52    0.004087         0.960619
12                50%         48    0.003773         0.964392
13                75%         41    0.003223         0.967615
14                83%         40    0.003144         0.970759
15                70%         34    0.002673         0.973432
16                89%         32    0.002515         0.975947
17                92%         30    0.002358         0.978305
18                88%         28    0.002201         0.980506
19                87%         27    0.002122         0.982629
20                60%         18    0.001415         0.984043
21                67%         16    0.001258         0.985301
22                86%         16    0.001258         0.986559
23                33%         16    0.001258         0.987816
24                85%         14    0.001100         0.988917
25                25%         13    0.001022         0.989939
26                61%         12    0.000943         0.990882
27                71%         11    0.000865         0.991747
28                79%         10    0.000786         0.992533
29                40%          9    0.000707         0.993240
30                78%          8    0.000629         0.993869
31                91%          8    0.000629         0.994498
32                27%          7    0.000550         0.995048
33                43%          6    0.000472         0.995520
34                18%          6    0.000472         0.995991
35                29%          5    0.000393         0.996384
36                84%          5    0.000393         0.996777
37                57%          4    0.000314         0.997092
38                82%          4    0.000314         0.997406
39                20%          4    0.000314         0.997720
40                39%          4    0.000314         0.998035
41                26%          4    0.000314         0.998349
42                17%          3    0.000236         0.998585
43                30%          3    0.000236         0.998821
44                76%          2    0.000157         0.998978
45                 7%          2    0.000157         0.999135
46                10%          2    0.000157         0.999293
47                69%          2    0.000157         0.999450
48                52%          1    0.000079         0.999528
49                54%          1    0.000079         0.999607
50                38%          1    0.000079         0.999686
51                11%          1    0.000079         0.999764
52                62%          1    0.000079         0.999843
53                13%          1    0.000079         0.999921
54                36%          1    0.000079         1.000000

----------------------------------------------------------------

   host_acceptance_rate  frequency  percentage  cumulative_perc
0                  100%       7756    0.609653         0.609653
1                   99%       1246    0.097941         0.707593
2                   S/D        587    0.046141         0.753734
3                   98%        424    0.033328         0.787062
4                   97%        293    0.023031         0.810093
..                  ...        ...         ...              ...
89                  19%          1    0.000079         0.999686
90                  22%          1    0.000079         0.999764
91                   5%          1    0.000079         0.999843
92                   3%          1    0.000079         0.999921
93                  31%          1    0.000079         1.000000

[94 rows x 4 columns]

----------------------------------------------------------------

  host_is_superhost  frequency  percentage  cumulative_perc
0                 f       7613    0.598412         0.598412
1                 t       5109    0.401588         1.000000

----------------------------------------------------------------

                 host_verifications  frequency  percentage  cumulative_perc
0                ['email', 'phone']      10126    0.795944         0.795944
1  ['email', 'phone', 'work_email']       1643    0.129146         0.925090
2                         ['phone']        652    0.051250         0.976340
3           ['phone', 'work_email']        289    0.022717         0.999057
4                         ['email']         12    0.000943         1.000000

----------------------------------------------------------------

  host_identity_verified  frequency  percentage  cumulative_perc
0                      t      12244    0.962427         0.962427
1                      f        478    0.037573         1.000000

----------------------------------------------------------------

  neighbourhood_cleansed  frequency  percentage  cumulative_perc
0         Centro Storico       9284    0.729759         0.729759
1         Campo di Marte       1341    0.105408         0.835167
2                Rifredi       1079    0.084814         0.919981
3       Isolotto Legnaia        556    0.043704         0.963685
4      Gavinana Galluzzo        462    0.036315         1.000000

----------------------------------------------------------------

                         property_type  frequency  percentage  cumulative_perc
0                   Entire rental unit       7104    0.558403         0.558403
1                         Entire condo       2483    0.195174         0.753576
2          Private room in rental unit        799    0.062805         0.816381
3    Private room in bed and breakfast        378    0.029712         0.846093
4                          Entire home        354    0.027826         0.873919
5                Private room in condo        293    0.023031         0.896950
6                          Entire loft        264    0.020751         0.917702
7               Room in boutique hotel        157    0.012341         0.930042
8                        Room in hotel        154    0.012105         0.942147
9                 Private room in home        135    0.010612         0.952759
10                Entire vacation home        105    0.008253         0.961012
11           Entire serviced apartment         90    0.007074         0.968087
12                        Entire villa         44    0.003459         0.971545
13           Room in bed and breakfast         33    0.002594         0.974139
14                           Tiny home         28    0.002201         0.976340
15  Private room in serviced apartment         26    0.002044         0.978384
16                    Entire townhouse         25    0.001965         0.980349
17       Private room in vacation home         22    0.001729         0.982078
18           Private room in townhouse         16    0.001258         0.983336
19                        Private room         15    0.001179         0.984515
20                  Entire guest suite         15    0.001179         0.985694
21     Private room in casa particular         15    0.001179         0.986873
22          Room in serviced apartment         15    0.001179         0.988052
23         Private room in guest suite         14    0.001100         0.989153
24               Private room in villa         12    0.000943         0.990096
25          Private room in guesthouse         11    0.000865         0.990961
26                  Room in aparthotel         11    0.000865         0.991825
27               Shared room in hostel         10    0.000786         0.992611
28                 Shared room in home          9    0.000707         0.993319
29                      Entire cottage          9    0.000707         0.994026
30                        Entire place          9    0.000707         0.994734
31                Private room in loft          8    0.000629         0.995362
32                Shared room in condo          7    0.000550         0.995913
33                           Farm stay          7    0.000550         0.996463
34                     Entire home/apt          7    0.000550         0.997013
35              Private room in hostel          6    0.000472         0.997485
36          Shared room in rental unit          4    0.000314         0.997799
37                   Entire guesthouse          4    0.000314         0.998114
38                     Casa particular          3    0.000236         0.998349
39                           Camper/RV          3    0.000236         0.998585
40            Entire bed and breakfast          2    0.000157         0.998742
41                               Tower          2    0.000157         0.998900
42                                Boat          1    0.000079         0.998978
43                Shared room in cabin          1    0.000079         0.999057
44                                Barn          1    0.000079         0.999135
45         Shared room in earthen home          1    0.000079         0.999214
46      Private room in shepherd's hut          1    0.000079         0.999293
47                                Tent          1    0.000079         0.999371
48                              Castle          1    0.000079         0.999450
49        Private room in earthen home          1    0.000079         0.999528
50           Private room in tiny home          1    0.000079         0.999607
51   Shared room in serviced apartment          1    0.000079         0.999686
52                     Entire bungalow          1    0.000079         0.999764
53                        Entire cabin          1    0.000079         0.999843
54    Shared room in bed and breakfast          1    0.000079         0.999921
55           Shared room in guesthouse          1    0.000079         1.000000

----------------------------------------------------------------

         room_type  frequency  percentage  cumulative_perc
0  Entire home/apt      10566    0.830530         0.830530
1     Private room       2035    0.159959         0.990489
2       Hotel room         86    0.006760         0.997249
3      Shared room         35    0.002751         1.000000

----------------------------------------------------------------

       bathrooms_text  frequency  percentage  cumulative_perc
0              1 bath       7398    0.581512         0.581512
1             2 baths       2350    0.184719         0.766232
2      1 private bath       1086    0.085364         0.851596
3           1.5 baths        497    0.039066         0.890662
4       1 shared bath        480    0.037730         0.928392
5             3 baths        381    0.029948         0.958340
6           2.5 baths        136    0.010690         0.969030
7             4 baths         99    0.007782         0.976812
8      2 shared baths         91    0.007153         0.983965
9           3.5 baths         42    0.003301         0.987266

# Determinacion de Clases Para Datos Agrupados

In [904]:
# corroboramos los valores nulos
nulos = dataset.isnull().sum()
nulos

id                             0
host_id                        0
source                         0
name                           0
description                    0
neighborhood_overview          0
host_name                      0
host_since                     0
host_location                  0
host_about                     0
host_response_time             0
host_response_rate             0
host_acceptance_rate           0
host_is_superhost              0
host_verifications             0
host_identity_verified         0
neighbourhood_cleansed         0
property_type                  0
room_type                      0
bathrooms_text                 0
amenities                      0
has_availability               0
first_review                   0
last_review                    0
instant_bookable               0
host_listings_count            0
host_total_listings_count      0
latitude                       0
longitude                      0
accommodates                   0
bedrooms                       0
beds                           0
price                          0
minimum_nights                 0
maximum_nights                 0
availability_30                0
availability_60                0
availability_90                0
availability_365               0
number_of_reviews              0
number_of_reviews_ltm          0
number_of_reviews_l30d         0
review_scores_rating           0
review_scores_accuracy         0
review_scores_cleanliness      0
review_scores_checkin          0
review_scores_communication    0
review_scores_location         0
review_scores_value            0
reviews_per_month              0
dtype: int64

### Variable ”host_response_rate”

In [905]:
# calculamos el numero total de la poblacion "n"
dataset['host_response_rate'].info()
n = 12722

<class 'pandas.core.series.Series'>
RangeIndex: 12722 entries, 0 to 12721
Series name: host_response_rate
Non-Null Count  Dtype
--------------  -----
12722 non-null  object
dtypes: object(1)
memory usage: 99.5+ KB

In [906]:
# Elimina el '%' y convierte a float
dataset['host_response_rate_num'] = (
    dataset['host_response_rate']
        .replace('S/D', np.nan, regex=True)
        .str.strip()                   # elimina espacios al inicio/fin
        .str.replace('%', '', regex=True)
        .astype(float)
)

In [907]:
dataset['host_response_rate_num']
#dataset['host_response_rate_num'].describe()

0        100.0
1        100.0
2        100.0
3        100.0
4        100.0
         ...
12717    100.0
12718      NaN
12719      NaN
12720    100.0
12721    100.0
Name: host_response_rate_num, Length: 12722, dtype: float64

In [908]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['host_response_rate_num'].max()
Min = dataset['host_response_rate_num'].min()
Limites = [Min, Max]
Limites

[0.0, 100.0]

In [909]:
# calculamos el rango r
R = Max - Min
R

100.0

In [910]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [911]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

6.8366139981485885

In [912]:
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]

In [913]:
# categorizacion de variables
#intervalos = np.linspace(Min, Max, ni + 1)
intervalos = np.linspace(0.0, 100.0, 15)
intervalos

array([  0.        ,   7.14285714,  14.28571429,  21.42857143,
        28.57142857,  35.71428571,  42.85714286,  50.        ,
        57.14285714,  64.28571429,  71.42857143,  78.57142857,
        85.71428571,  92.85714286, 100.        ])

In [914]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
#categorias = ["categoria1", "categoria2", "categoria3", "categoria4", "categoria5", "categoria6", "categoria7", "categoria8", "categoria9", "categoria10", "categoria11", "categoria12", "categoria13", "categoria14"]

In [915]:
# finalmente creamos las categorias en la columna numerica
dataset['host_response_rate_num'] = pd.cut(dataset['host_response_rate_num'], bins=intervalos, labels=categorias, right=False)
dataset['host_response_rate_num']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
12717    NaN
12718    NaN
12719    NaN
12720    NaN
12721    NaN
Name: host_response_rate_num, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable "host_acceptance_rate"

In [916]:
dataset['host_acceptance_rate']

0        100%
1         25%
2         65%
3         71%
4         71%
         ...
12717    100%
12718    100%
12719     S/D
12720     97%
12721    100%
Name: host_acceptance_rate, Length: 12722, dtype: object

### Variable “host_total_listings_count”

In [917]:
dataset['host_total_listings_count']

0        41.0
1         1.0
2         1.0
3        12.0
4        12.0
         ...
12717     4.0
12718     1.0
12719     1.0
12720     2.0
12721    13.0
Name: host_total_listings_count, Length: 12722, dtype: float64

In [918]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['host_total_listings_count'].max()
Min = dataset['host_total_listings_count'].min()
Limites = [Min, Max]
Limites

[1.0, 42.0]

In [919]:
# calculamos el rango r
R = Max - Min
R

41.0

In [920]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [921]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

2.8030117392409215

#### Creación de Categorias a Partir de Clases

In [922]:
# categorizacion de variables
intervalos = np.linspace(1.0, 42.0, 15)
intervalos

array([ 1.        ,  3.92857143,  6.85714286,  9.78571429, 12.71428571,
       15.64285714, 18.57142857, 21.5       , 24.42857143, 27.35714286,
       30.28571429, 33.21428571, 36.14285714, 39.07142857, 42.        ])

In [923]:
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [924]:
# finalmente creamos las categorias en la columna numerica
dataset['host_total_listings_count'] = pd.cut(dataset['host_total_listings_count'], bins=intervalos, labels=categorias, right=False)
dataset['host_total_listings_count']

0        categoria_14
1         categoria_1
2         categoria_1
3         categoria_4
4         categoria_4
             ...
12717     categoria_2
12718     categoria_1
12719     categoria_1
12720     categoria_1
12721     categoria_5
Name: host_total_listings_count, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “accommodates”

In [925]:
dataset['accommodates']

0        2.0
1        2.0
2        4.0
3        2.0
4        2.0
        ...
12717    3.6
12718    6.0
12719    4.0
12720    4.0
12721    4.0
Name: accommodates, Length: 12722, dtype: float64

In [926]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['accommodates'].max()
Min = dataset['accommodates'].min()
Limites = [Min, Max]
Limites

[1.0, 7.0]

In [927]:
# calculamos el rango r
R = Max - Min
R

6.0

In [928]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.4101968398889153

In [929]:
# calculamos el número de intervalos de clase "ni", aplicando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

#### Creación de Categorias a Partir de Clases

In [930]:
# categorizacion de variables
intervalos = np.linspace(1.0, 7.0, 15)
intervalos

array([1.        , 1.42857143, 1.85714286, 2.28571429, 2.71428571,
       3.14285714, 3.57142857, 4.        , 4.42857143, 4.85714286,
       5.28571429, 5.71428571, 6.14285714, 6.57142857, 7.        ])

In [931]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [932]:
# finalmente creamos las categorias en la columna numerica
dataset['accommodates'] = pd.cut(dataset['accommodates'], bins=intervalos, labels=categorias, right=False)
dataset['accommodates']

0         categoria_3
1         categoria_3
2         categoria_8
3         categoria_3
4         categoria_3
             ...
12717     categoria_7
12718    categoria_12
12719     categoria_8
12720     categoria_8
12721     categoria_8
Name: accommodates, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “bathrooms_text”

In [933]:
dataset['bathrooms_text']

0        1 private bath
1                1 bath
2               2 baths
3               0 baths
4        1 private bath
              ...
12717           4 baths
12718            1 bath
12719            1 bath
12720            1 bath
12721            1 bath
Name: bathrooms_text, Length: 12722, dtype: object

#### Creación de Categorias a Partir de Clases

### Variable “beds”

In [934]:
dataset['beds']

0        1.0
1        1.0
2        4.0
3        1.0
4        1.0
        ...
12717    4.0
12718    3.0
12719    3.0
12720    2.0
12721    2.0
Name: beds, Length: 12722, dtype: float64

In [935]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['beds'].max()
Min = dataset['beds'].min()
Limites = [Min, Max]
Limites

[0.0, 6.0]

In [936]:
# calculamos el rango r
R = Max - Min
R

6.0

In [937]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [938]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.4101968398889153

#### Creación de Categorias a Partir de Clases

In [939]:
# categorizacion de variables
intervalos = np.linspace(0.0, 6.0, 15)
intervalos

array([0.        , 0.42857143, 0.85714286, 1.28571429, 1.71428571,
       2.14285714, 2.57142857, 3.        , 3.42857143, 3.85714286,
       4.28571429, 4.71428571, 5.14285714, 5.57142857, 6.        ])

In [940]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [941]:
# finalmente creamos las categorias en la columna numerica
dataset['beds'] = pd.cut(dataset['beds'], bins=intervalos, labels=categorias, right=False)
dataset['beds']

0         categoria_3
1         categoria_3
2        categoria_10
3         categoria_3
4         categoria_3
             ...
12717    categoria_10
12718     categoria_8
12719     categoria_8
12720     categoria_5
12721     categoria_5
Name: beds, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “price”

In [942]:
dataset['price']

0         95.0
1         95.0
2        130.0
3        105.0
4        102.5
         ...
12717    163.0
12718    199.0
12719     80.0
12720    220.0
12721    104.0
Name: price, Length: 12722, dtype: float64

In [943]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['price'].max()
Min = dataset['price'].min()
Limites = [Min, Max]
Limites

[10.0, 420.0]

In [944]:
# calculamos el rango r
R = Max - Min
R

410.0

In [945]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [946]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

28.030117392409213

#### Creación de Categorias a Partir de Clases

In [947]:
# categorizacion de variables
intervalos = np.linspace(10.0, 420.0, 15)
intervalos

array([ 10.        ,  39.28571429,  68.57142857,  97.85714286,
       127.14285714, 156.42857143, 185.71428571, 215.        ,
       244.28571429, 273.57142857, 302.85714286, 332.14285714,
       361.42857143, 390.71428571, 420.        ])

In [948]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [949]:
# finalmente creamos las categorias en la columna numerica
dataset['price'] = pd.cut(dataset['price'], bins=intervalos, labels=categorias, right=False)
dataset['price']

0        categoria_3
1        categoria_3
2        categoria_5
3        categoria_4
4        categoria_4
            ...
12717    categoria_6
12718    categoria_7
12719    categoria_3
12720    categoria_8
12721    categoria_4
Name: price, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “number_of_reviews_ltm"

In [950]:
dataset['number_of_reviews_ltm']

0        5.0
1        1.0
2        4.0
3        8.0
4        2.0
        ...
12717    0.0
12718    0.0
12719    0.0
12720    0.0
12721    0.0
Name: number_of_reviews_ltm, Length: 12722, dtype: float64

In [951]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['number_of_reviews_ltm'].max()
Min = dataset['number_of_reviews_ltm'].min()
Limites = [Min, Max]
Limites

[0.0, 68.0]

In [952]:
# calculamos el rango r
R = Max - Min
R

68.0

In [953]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [954]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

4.64889751874104

#### Creación de Categorias a Partir de Clases

In [955]:
# categorizacion de variables
intervalos = np.linspace(0.0, 68.0, 15)
intervalos

array([ 0.        ,  4.85714286,  9.71428571, 14.57142857, 19.42857143,
       24.28571429, 29.14285714, 34.        , 38.85714286, 43.71428571,
       48.57142857, 53.42857143, 58.28571429, 63.14285714, 68.        ])

In [956]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [957]:
# finalmente creamos las categorias en la columna numerica
dataset['number_of_reviews_ltm'] = pd.cut(dataset['number_of_reviews_ltm'], bins=intervalos, labels=categorias, right=False)
dataset['number_of_reviews_ltm']

0        categoria_2
1        categoria_1
2        categoria_1
3        categoria_2
4        categoria_1
            ...
12717    categoria_1
12718    categoria_1
12719    categoria_1
12720    categoria_1
12721    categoria_1
Name: number_of_reviews_ltm, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “availability_365”

In [958]:
dataset['availability_365']

0        330
1         26
2        257
3        347
4        332
        ...
12717    310
12718    365
12719    156
12720    364
12721    143
Name: availability_365, Length: 12722, dtype: int64

In [959]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['availability_365'].max()
Min = dataset['availability_365'].min()
Limites = [Min, Max]
Limites

[0, 365]

In [960]:
# calculamos el rango r
R = Max - Min
R

365

In [961]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [962]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

24.95364109324235

#### Creación de Categorias a Partir de Clases

In [963]:
# categorizacion de variables
intervalos = np.linspace(0, 365, 15)
intervalos

array([  0.        ,  26.07142857,  52.14285714,  78.21428571,
       104.28571429, 130.35714286, 156.42857143, 182.5       ,
       208.57142857, 234.64285714, 260.71428571, 286.78571429,
       312.85714286, 338.92857143, 365.        ])

In [964]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [965]:
# finalmente creamos las categorias en la columna numerica
dataset['availability_365'] = pd.cut(dataset['availability_365'], bins=intervalos, labels=categorias, right=False)
dataset['availability_365']

0        categoria_13
1         categoria_1
2        categoria_10
3        categoria_14
4        categoria_13
             ...
12717    categoria_12
12718             NaN
12719     categoria_6
12720    categoria_14
12721     categoria_6
Name: availability_365, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “number_of_reviews”

In [966]:
dataset['number_of_reviews']

0        133.0
1         26.0
2         36.0
3         79.0
4         21.0
         ...
12717      0.0
12718      0.0
12719      0.0
12720      0.0
12721      0.0
Name: number_of_reviews, Length: 12722, dtype: float64

In [967]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['number_of_reviews'].max()
Min = dataset['number_of_reviews'].min()
Limites = [Min, Max]
Limites

[0.0, 207.0]

In [968]:
# calculamos el rango r
R = Max - Min
R

207.0

In [969]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [970]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

14.151790976167579

#### Creación de Categorias a Partir de Clases

In [971]:
# categorizacion de variables
intervalos = np.linspace(0.0, 207.0, 15)
intervalos

array([  0.        ,  14.78571429,  29.57142857,  44.35714286,
        59.14285714,  73.92857143,  88.71428571, 103.5       ,
       118.28571429, 133.07142857, 147.85714286, 162.64285714,
       177.42857143, 192.21428571, 207.        ])

In [972]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [973]:
# finalmente creamos las categorias en la columna numerica
dataset['number_of_reviews'] = pd.cut(dataset['number_of_reviews'], bins=intervalos, labels=categorias, right=False)
dataset['number_of_reviews']

0        categoria_9
1        categoria_2
2        categoria_3
3        categoria_6
4        categoria_2
            ...
12717    categoria_1
12718    categoria_1
12719    categoria_1
12720    categoria_1
12721    categoria_1
Name: number_of_reviews, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “review_scores_location”

In [974]:
dataset['review_scores_location']

0        4.91
1        4.63
2        4.82
3        4.90
4        4.95
         ...
12717    4.80
12718    4.80
12719    4.80
12720    4.80
12721    4.80
Name: review_scores_location, Length: 12722, dtype: float64

In [975]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_location'].max()
Min = dataset['review_scores_location'].min()
Limites = [Min, Max]
Limites

[4.12, 5.0]

In [976]:
# calculamos el rango r
R = Max - Min
R

0.8799999999999999

In [977]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [978]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.060162203183707574

#### Creación de Categorias a Partir de Clases

In [979]:
# categorizacion de variables
intervalos = np.linspace(4.12, 5.0, 15)
intervalos

array([4.12      , 4.18285714, 4.24571429, 4.30857143, 4.37142857,
       4.43428571, 4.49714286, 4.56      , 4.62285714, 4.68571429,
       4.74857143, 4.81142857, 4.87428571, 4.93714286, 5.        ])

In [980]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [981]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_location'] = pd.cut(dataset['review_scores_location'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_location']

0        categoria_13
1         categoria_9
2        categoria_12
3        categoria_13
4        categoria_14
             ...
12717    categoria_11
12718    categoria_11
12719    categoria_11
12720    categoria_11
12721    categoria_11
Name: review_scores_location, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “review_scores_value”

In [982]:
dataset['review_scores_value']

0        4.70
1        4.63
2        4.85
3        4.55
4        4.32
         ...
12717    4.70
12718    4.70
12719    4.70
12720    4.70
12721    4.70
Name: review_scores_value, Length: 12722, dtype: float64

In [983]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_value'].max()
Min = dataset['review_scores_value'].min()
Limites = [Min, Max]
Limites

[3.83, 5.0]

In [984]:
# calculamos el rango r
R = Max - Min
R

1.17

In [985]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [986]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.07998838377833849

#### Creación de Categorias a Partir de Clases

In [987]:
# categorizacion de variables
intervalos = np.linspace(3.83, 5.0, 15)
intervalos

array([3.83      , 3.91357143, 3.99714286, 4.08071429, 4.16428571,
       4.24785714, 4.33142857, 4.415     , 4.49857143, 4.58214286,
       4.66571429, 4.74928571, 4.83285714, 4.91642857, 5.        ])

In [988]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [989]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_value'] = pd.cut(dataset['review_scores_value'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_value']

0        categoria_11
1        categoria_10
2        categoria_13
3         categoria_9
4         categoria_6
             ...
12717    categoria_11
12718    categoria_11
12719    categoria_11
12720    categoria_11
12721    categoria_11
Name: review_scores_value, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “reviews_per_month”

In [990]:
dataset['reviews_per_month']

0        0.77
1        0.15
2        0.21
3        0.46
4        0.13
         ...
12717    1.00
12718    1.00
12719    1.00
12720    1.00
12721    1.00
Name: reviews_per_month, Length: 12722, dtype: float64

In [991]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['reviews_per_month'].max()
Min = dataset['reviews_per_month'].min()
Limites = [Min, Max]
Limites

[0.01, 6.46]

In [992]:
# calculamos el rango r
R = Max - Min
R

6.45

In [993]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [994]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.44096160288058395

#### Creación de Categorias a Partir de Clases

In [995]:
# categorizacion de variables
intervalos = np.linspace(0.01, 6.46, 15)
intervalos

array([0.01      , 0.47071429, 0.93142857, 1.39214286, 1.85285714,
       2.31357143, 2.77428571, 3.235     , 3.69571429, 4.15642857,
       4.61714286, 5.07785714, 5.53857143, 5.99928571, 6.46      ])

In [996]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [997]:
# finalmente creamos las categorias en la columna numerica
dataset['reviews_per_month'] = pd.cut(dataset['reviews_per_month'], bins=intervalos, labels=categorias, right=False)
dataset['reviews_per_month']

0        categoria_2
1        categoria_1
2        categoria_1
3        categoria_1
4        categoria_1
            ...
12717    categoria_3
12718    categoria_3
12719    categoria_3
12720    categoria_3
12721    categoria_3
Name: reviews_per_month, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “review_scores_communication”

In [998]:
dataset['review_scores_communication']

0        4.91
1        4.96
2        4.70
3        4.74
4        4.63
         ...
12717    4.90
12718    4.90
12719    4.90
12720    4.90
12721    4.90
Name: review_scores_communication, Length: 12722, dtype: float64

In [999]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_communication'].max()
Min = dataset['review_scores_communication'].min()
Limites = [Min, Max]
Limites

[4.24, 5.0]

In [1000]:
# calculamos el rango r
R = Max - Min
R

0.7599999999999998

In [1001]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [1002]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.05195826638592926

#### Creación de Categorias a Partir de Clases

In [1003]:
# categorizacion de variables
intervalos = np.linspace(4.24, 5.0, 15)
intervalos

array([4.24      , 4.29428571, 4.34857143, 4.40285714, 4.45714286,
       4.51142857, 4.56571429, 4.62      , 4.67428571, 4.72857143,
       4.78285714, 4.83714286, 4.89142857, 4.94571429, 5.        ])

In [1004]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [1005]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_communication'] = pd.cut(dataset['review_scores_communication'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_communication']

0        categoria_13
1        categoria_14
2         categoria_9
3        categoria_10
4         categoria_8
             ...
12717    categoria_13
12718    categoria_13
12719    categoria_13
12720    categoria_13
12721    categoria_13
Name: review_scores_communication, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable review_scores_checkin”

In [1006]:
dataset['review_scores_checkin']

0        4.86
1        4.84
2        4.79
3        4.81
4        4.68
         ...
12717    4.90
12718    4.90
12719    4.90
12720    4.90
12721    4.90
Name: review_scores_checkin, Length: 12722, dtype: float64

In [1007]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_checkin'].max()
Min = dataset['review_scores_checkin'].min()
Limites = [Min, Max]
Limites

[4.25, 5.0]

In [1008]:
# calculamos el rango r
R = Max - Min
R

0.75

In [1009]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [1010]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.051274604986114414

#### Creación de Categorias a Partir de Clases

In [1011]:
# categorizacion de variables
intervalos = np.linspace(4.25, 5.0, 15)
intervalos

array([4.25      , 4.30357143, 4.35714286, 4.41071429, 4.46428571,
       4.51785714, 4.57142857, 4.625     , 4.67857143, 4.73214286,
       4.78571429, 4.83928571, 4.89285714, 4.94642857, 5.        ])

In [1012]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [1013]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_checkin'] = pd.cut(dataset['review_scores_checkin'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_checkin']

0        categoria_12
1        categoria_12
2        categoria_11
3        categoria_11
4         categoria_9
             ...
12717    categoria_13
12718    categoria_13
12719    categoria_13
12720    categoria_13
12721    categoria_13
Name: review_scores_checkin, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “review_scores_cleanliness”

In [1014]:
dataset['review_scores_cleanliness']

0        4.87
1        4.88
2        4.85
3        4.60
4        4.58
         ...
12717    4.80
12718    4.80
12719    4.80
12720    4.80
12721    4.80
Name: review_scores_cleanliness, Length: 12722, dtype: float64

In [1015]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_cleanliness'].max()
Min = dataset['review_scores_cleanliness'].min()
Limites = [Min, Max]
Limites

[4.01, 5.0]

In [1016]:
# calculamos el rango r
R = Max - Min
R

0.9900000000000002

In [1017]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [1018]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.06768247858167104

#### Creación de Categorias a Partir de Clases

In [1019]:
# categorizacion de variables
intervalos = np.linspace(4.01, 5.0, 15)
intervalos

array([4.01      , 4.08071429, 4.15142857, 4.22214286, 4.29285714,
       4.36357143, 4.43428571, 4.505     , 4.57571429, 4.64642857,
       4.71714286, 4.78785714, 4.85857143, 4.92928571, 5.        ])

In [1020]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [1021]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_cleanliness'] = pd.cut(dataset['review_scores_cleanliness'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_cleanliness']

0        categoria_13
1        categoria_13
2        categoria_12
3         categoria_9
4         categoria_9
             ...
12717    categoria_12
12718    categoria_12
12719    categoria_12
12720    categoria_12
12721    categoria_12
Name: review_scores_cleanliness, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']

### Variable “review_scores_accuracy”

In [1022]:
dataset['review_scores_accuracy']

0        4.73
1        4.88
2        4.79
3        4.68
4        4.21
         ...
12717    4.80
12718    4.80
12719    4.80
12720    4.80
12721    4.80
Name: review_scores_accuracy, Length: 12722, dtype: float64

In [1023]:
# obtenemos el limite superior y el límite inferior de la columna objetivo
Max = dataset['review_scores_accuracy'].max()
Min = dataset['review_scores_accuracy'].min()
Limites = [Min, Max]
Limites

[4.15, 5.0]

In [1024]:
# calculamos el rango r
R = Max - Min
R

0.8499999999999996

In [1025]:
# calculamos el número de intervalos de clase "ni", aplocando la regla de Sturges
ni = 1+3.32*np.log10(n)
ni

14.627123898918503

In [1026]:
# calculamos el ancho del intervalo "i"
i = R/ni
i

0.058111218984262976

#### Creación de Categorias a Partir de Clases

In [1027]:
# categorizacion de variables
intervalos = np.linspace(4.15, 5.0, 15)
intervalos

array([4.15      , 4.21071429, 4.27142857, 4.33214286, 4.39285714,
       4.45357143, 4.51428571, 4.575     , 4.63571429, 4.69642857,
       4.75714286, 4.81785714, 4.87857143, 4.93928571, 5.        ])

In [1028]:
# creamos las etiquetas para los intervalos
categorias = ["categoria_" + str(i) for i in range(1, len(intervalos))]
categorias

['categoria_1',
 'categoria_2',
 'categoria_3',
 'categoria_4',
 'categoria_5',
 'categoria_6',
 'categoria_7',
 'categoria_8',
 'categoria_9',
 'categoria_10',
 'categoria_11',
 'categoria_12',
 'categoria_13',
 'categoria_14']

In [1029]:
# finalmente creamos las categorias en la columna numerica
dataset['review_scores_accuracy'] = pd.cut(dataset['review_scores_accuracy'], bins=intervalos, labels=categorias, right=False)
dataset['review_scores_accuracy']

0        categoria_10
1        categoria_13
2        categoria_11
3         categoria_9
4         categoria_1
             ...
12717    categoria_11
12718    categoria_11
12719    categoria_11
12720    categoria_11
12721    categoria_11
Name: review_scores_accuracy, Length: 12722, dtype: category
Categories (14, object): ['categoria_1' < 'categoria_2' < 'categoria_3' < 'categoria_4' ... 'categoria_11' < 'categoria_12' < 'categoria_13' < 'categoria_14']